<form action='/properties' method='post'>
  <input type='text' name='name' placeholder='Enter name' required>
  <input type='text' name='description' placeholder='Enter description' required>
  <input type='number' name='price' placeholder='Eg. 1000' required>
<br>
<br>
  <input type='date' name='available_from' placeholder='DD/MM/YYYY' required>
  <input type='date' name='available_until' placeholder='DD/MM/YYYY' required>
<br>
<br>
  <input type='submit' value='Submit'>
</form>